.start-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(../../../imgs/startPage-background-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.start-wrapper {
    width: 650px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 50px;
}

.game-name {
    color: #161110;
    font-size: 50px;
}

.game-info,
.greeting-container {
    font-size: 30px;
    color: #2d2120;
    text-align: center;
    margin: 0 30px;
}

.start-button {
    width: 150px;
    height: 70px;
    border-radius: 15px;
    font-size: 30px;
    background-color: #bf82c5;
    border: 1px solid #58244f;
    color: #58244f;
}

.start-button:hover {
    background-color: #7e4c9e;
    border: 1px solid #f5b7ae;
    color: #f5b7ae;
    cursor: pointer;
}
