.start-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(../../../imgs/startPage-background-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.start-wrapper {
    width: 650px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 50px;
}

.game-name {
    color: #161110;
    font-size: 50px;
}

.game-info,
.greeting-container {
    font-size: 30px;
    color: #2d2120;
    text-align: center;
    margin: 0 30px;
}
