.results-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(../../../imgs/startPage-background-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.results-container {
    width: 650px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 50px;
}

.button-continue {
    border-radius: 15px;
    padding: 7px;
    font-size: 26px;
    background-color: #bf82c5;
    border: 1px solid #58244f;
    color: #58244f;
    opacity: 1;
}

.button-continue:hover {
    background-color: #7e4c9e;
    border: 1px solid #f5b7ae;
    color: #f5b7ae;
    cursor: pointer;
}
