.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(../../../imgs/gamePage-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.game-area {
    width: 750px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 25px;
}

.result-container {
    background-color: white;
    width: 700px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    gap: 3px;
}

.resources-container {
    background-color: white;
    width: 700px;
    height: 70px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.word-block {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 50px;
}

.sentence-block {
    display: flex;
    justify-content: space-around;
}

.word-answer-block {
    min-width: 50px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.full-answer {
    border: 1px solid black;
}

.hide-resource {
    opacity: 0;
}

.false-result {
    border: 1px solid red;
}

.true-result {
    border: 1px solid green;
}

.button-check,
.button-continue {
    border-radius: 15px;
    padding: 7px;
    font-size: 26px;
    background-color: #bf82c5;
    border: 1px solid #58244f;
    color: #58244f;
    opacity: 1;
}

.button-check:hover,
.button-continue:hover {
    background-color: #7e4c9e;
    border: 1px solid #f5b7ae;
    color: #f5b7ae;
    cursor: pointer;
}

.button-check:disabled,
.button-continue:disabled {
    cursor: default;
    opacity: 0.7;
}

.button-check:disabled:hover,
.button-continue:disabled:hover {
    background-color: #bf82c5;
    border: 1px solid #58244f;
    color: #58244f;
}
