.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(../../../imgs/gamePage-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.game-area {
    width: 750px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 25px;
}

.result-container {
    background-color: white;
    width: 700px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    gap: 3px;
}

.resources-container {
    background-color: white;
    width: 700px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.word-block {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 50px;
    height: 80%;
    text-align: center;
}

.full-resource,
.full-answer {
    border: 1px solid black;
}

.sentence-block {
    display: flex;
    justify-content: space-around;
}

.hide-resource {
    opacity: 0;
}

.false-result {
    border: 1px solid red;
}

.true-result {
    border: 1px solid green;
}

.button-check {
    border-radius: 15px;
    padding: 7px;
    font-size: 26px;
    background-color: #bf82c5;
    border: 1px solid #58244f;
    color: #58244f;
    opacity: 1;
}

.button-check:hover {
    background-color: #7e4c9e;
    border: 1px solid #f5b7ae;
    color: #f5b7ae;
    cursor: pointer;
}

.button-check:disabled {
    cursor: default;
    opacity: 0.7;
}

.button-check:disabled:hover {
    background-color: #bf82c5;
    border: 1px solid #58244f;
    color: #58244f;
}

.relocatable {
    z-index: 2;
}

.sentence-block {
    height: 50px;
}

.user-iteraction-container {
    display: flex;
    gap: 20px;
}

.level-round-container {
    display: flex;
    gap: 20px;
}

.level-button,
.round-button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    width: 80px;
    background-color: #f08a9d;
    border: 1px solid #662261;
    color: #662261;
}

.level-button:hover,
.round-button:hover,
.translate-button:hover,
.audio-hide-button:hover,
.game-logout-button:hover {
    background-color: #662261;
    border: 1px solid #f08a9d;
    color: #f08a9d;
}

.level-list,
.round-list {
    text-align: center;
    display: none;
    flex-direction: column;
    list-style: none;
    height: 130px;
    background-color: #f08a9d;
    gap: 3px;
    width: 80px;
    border-radius: 5px;
}

.level-item,
.round-item {
    cursor: pointer;
}

.level-item:hover,
.round-item:hover,
.level-selected,
.round-selected {
    background-color: #662261;
    color: #f08a9d;
}

.round-list {
    overflow-y: scroll;
}

.showed {
    display: flex;
    position: absolute;
}

.translate-button,
.game-logout-button,
.audio-button,
.audio-hide-button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    background-color: #f08a9d;
    border: 1px solid #662261;
    color: #662261;
}

.audio-button {
    opacity: 0;
    transition: all 1s ease;
}

.translate-container {
    opacity: 0;
    background-color: white;
    padding: 3px;
    border: 1px solid #662261;
    color: #662261;
    border-radius: 5px;
    transition: all 1s ease;
}

.show {
    opacity: 1;
    transition: all 1s ease;
}
